#show-list {
  display: none;
}

.clickable-show {
  cursor: pointer;
  color: #0088cc;
}

.clickable-show:hover {
  text-decoration: underline;
}

.clickable-complete {
  cursor: pointer;
  color: red;
}

.clickable-complete:hover {
  text-decoration: underline;
}
